<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Override engine: Full DNS name of engine: ie production.he.connectandsell.com -->
    <add key="TargetEngineAddress" value="localhost" />
    <!-- Full DNS name of engine: ie production.he.connectandsell.com -->
    <add key="TargetEnginePort" value="443" />
    <!-- Path to recordings write path: default is /home/nomea/recordings/ram -->
    <add key="RecordingsWritePath" value="/var/spool/asterisk/monitor"/>
    <!-- Path to recordings read path: default is /home/nomea/recordings/disk -->
    <add key="RecordingsReadPath" value="/var/spool/asterisk/monitor"/>
    <!-- Path to recordings control: default is /home/nomea/recordings/trim_recording -->
    <add key="RecordingsControl" value="/usr/local/scripts/trim_recording"/>
    <!-- Used to specify the length of time (positive integer) that a call is flagged as DNC when the agent's 
    alert button is pressed. There are two values, one for day, and one for hours.
    If both values are blank or equal to zero, the time span will default to 100 years for future dnc entries.   BBB TempDNC 09/11/2012-->
    <add key="DNCTimeSpanDays" value=""/>
    <add key="DNCTimeSpanHours" value="24"/>
    <add key ="ServerUrl" value="http://serverurl/Connectandsell/"/>
    <!-- Comma delimited string consisting of the valid domains that a user can login from; i.e., specifies the list of CAS domains that a user
    must be NT domain authenticated to for successful login, else login will fail if a user is not authenticated to a CAS domain in the list -->
    <add key="ValidDomains" value = "HE, SV5"/>

    <!-- Asterisk configurable strings -->
    <add key="CallMeContext" value = "engine-outbound-1"/>
    <add key="OutboundContext" value = "engine-outbound-1"/>
    <add key="CallMeCallerID" value = "3038727681"/>
	<add key="EnableSustainedLowLatency" value="true"/>
	<add key="EnableGCTracking" value="true"/>

    <add key="EmailErrors" value = "T"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RedisCacheClient" value="10.40.1.72:6379,defaultDatabase=0,abortConnect=false,allowAdmin=false,connectTimeout=100000,syncTimeout=100000,KeepAlive=10" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NetTcpBinding_IWCFEngineService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="23:59:59" sendTimeout="23:59:59">
          <transactionFlow />
          <binaryMessageEncoding compressionFormat="GZip" maxReadPoolSize="1024" maxWritePoolSize="1024" maxSessionSize="65536">
            <readerQuotas maxDepth="1024" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <!--<reliableSession ordered="true" />-->
          <tcpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            connectionBufferSize="65536" hostNameComparisonMode="StrongWildcard"
            channelInitializationTimeout="00:01:00" maxBufferSize="2147483647"
            maxPendingConnections="2000" maxPendingAccepts="2000" transferMode="Buffered" listenBacklog="2000"
            portSharingEnabled="false" teredoEnabled="false" />
        </binding>
      </customBinding>
    </bindings>
    <diagnostics wmiProviderEnabled="false" performanceCounters="Off">
      <messageLogging logEntireMessage="true" logMalformedMessages="false"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"
        maxMessagesToLog="10000000" maxSizeOfMessageToLog="26214400" />
    </diagnostics>
    <services>
      <service name="WcfEngineService.WCFEngineService" behaviorConfiguration="WcfEngineService.WCFEngineService">
        <endpoint address="engine" binding="customBinding" contract="AppCommon.IWCFEngineService" bindingConfiguration="NetTcpBinding_IWCFEngineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:443/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfEngineService.DatalinkService" behaviorConfiguration="WcfEngineService.WCFEngineService">
        <endpoint address="datalink" binding="customBinding" contract="AppCommon.IDatalink" bindingConfiguration="NetTcpBinding_IWCFEngineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:443/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CasReportsImpl.ReportsRunner" behaviorConfiguration="WcfEngineService.WCFEngineService">
        <endpoint address="ReportsLink" binding="customBinding" contract="CasReports.IReportsRunner" bindingConfiguration="NetTcpBinding_IWCFEngineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:443/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfEngineService.WCFEngineService">
          <serviceMetadata httpGetEnabled="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="5000"
maxConcurrentInstances="15000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source propagateActivity="false" name="System.ServiceModel"
        switchValue="Warning">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="C:\Cast-A-Net\logs\Tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="traceListener" traceOutputOptions="LogicalOperationStack">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Cast-A-Net\logs\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <connectionStrings>
     <add name="CasReportsImpl.Properties.Settings.CastanetConnectionString"
         connectionString="Data Source=AVANTI-CODITAS;Initial Catalog=Castaseed;User Id=sa;Password=coditas123"
     providerName="System.Data.SqlClient" />
    <add name="engineConnectionString" connectionString="Data Source=AVANTI-CODITAS;Initial Catalog=Castaseed;User Id=sa;Password=coditas123"/>
  </connectionStrings>
</configuration>